*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-image: url("/images/backgroundImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow: hidden;
}

nav{
    background-image: linear-gradient(to right, rgb(0, 66, 0) ,rgb(61, 172, 61),rgb(144, 220, 144), rgb(61, 172, 61),rgb(0, 66, 0));
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.heading{
    text-align: center;
}

h1{
    padding: 10px 10px 0 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}
  
li a, .dropBtn {
    display: inline-block;
    color: white;
    text-align: left;
    text-decoration: none;
}
  
li a:hover, .dropDown:hover .dropBtn {
    background-color: red;
}
  
li.dropDown {
    display: inline-block;
}
  
.dropDownContent {
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 150px;
    z-index: 1;
  }
  
.dropDownContent a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropDownContent a:hover {background-color: white;}
  
.dropDown:hover .dropDownContent {
    display: block;
}

.index-container{

    background-color: bisque;
    width: 40%;
    margin-top: 150px;
    padding: 20px;
    border: 10px solid transparent;
    animation: border-pulse 3s linear infinite;
    position: absolute;
    z-index: 10;
    left: 450px;
    
}

@keyframes border-pulse {
    0% {
       border-color: rgb(0, 66, 0) ;
    }
    25% {
        border-color: rgb(61, 172, 61);
    }
    50% {
       border-color: rgb(144, 220, 144);
    }
    75% {
        border-color: rgb(61, 172, 61);
    }
    100% {
        border-color: rgb(0, 66, 0);
    }
}

p{
    text-align: center;
    margin: 10px;
    font-style: italic;
    font-weight: 800;
}

#formTable{
   width: 40%;
   margin: auto;
}

input{
    caret-color: green;
}

.gap{
    margin: 15px;
}

.size{
    width: 300px;
    padding: 5px;
    border:  1px solid black;
    border-radius: 15px;
}

.addRecordBtn{
   float: right;
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 5px;
}

#home-container{
    width: 100vw;
    height: 93.5vh;
    position: relative;
}

#records-container{
    width: 100vw;
    height: 93.5vh;
    position: relative;
}

#screen{
    width: 100vw;
    height: 93.5vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.69;
}

#table-container {
    position: absolute;
    z-index: 10;
    left: 100px;

}

#table-structure{

   border-collapse: collapse; 
   width: 80%;
   margin: auto;
   margin-top: 50px;
   background-color: bisque;
   border: 5px solid transparent;
   animation: border-pulse 3s linear infinite;
   height: 450px;

}

#tableHead{
    background-color: rgb(61, 172, 61);
    color: rgb(0, 42, 0)
}

#tableBody {
    height: 450px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}

#tableHead, #tableBody { display: block;}

#tableHead td{
   padding: 20px;
   text-align: left;
   width: 223px;
   font-weight: bold;
}


#tableBody td{
   border: 1px solid black;
   border-collapse: collapse;
   padding: 15px;
   text-align: left;
   width: 223px;
}


#about-container{
    width: 100vw;
    height: 93.5vh;
    position: relative;
}

#about-content {
    position: absolute;
    z-index: 10;
    left: 300px;
}

.editBtn{
    width: 60px;
    padding: 5px;
    background-color: rgb(89, 168, 228);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkblue;
    font-size: 13px;
}

.editBtn:hover{
    background-color: rgb(160, 205, 240);
}

.deleteBtn{
    width: 60px;
    padding: 5px;
    background-color: rgb(241, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(95, 3, 3);
    font-size: 13px;
}

.deleteBtn:hover{
    background-color: rgb(237, 99, 99);
    color: black;
}

#editContainer{
   

    display: none;
    background-color: bisque;
    width: 40%;
    margin-top: 150px;
    padding: 20px;
    border: 10px solid transparent;
    animation: border-pulse 3s linear infinite;
    position: absolute;
    z-index: 30;
    left: 450px;
   

}

#editTable{

        width: 40%;
        margin: auto;
    
}

#closeTab{
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

#boundary{
    max-width: 20px;
}

#background2{
    width: 100vw;
    height: 93.5vh;
    position: relative;
}

#screen2{
    width: 100vw;
    height: 93.5vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.79;
    z-index: 20;
    display: none;

}
